<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://fonts.googleapis.com/css?family=K2D" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Ez Cooking</title>
    <link rel="icon" href="logo1.png">

</head>
<body>
<table align="center" width="75%" border="0" >
    <tr class="a" >
        <td class="main-a" height="150" width="100%" >
            <h2 class="text1">สร้าง</h2>
        </td>
    </tr>
    <tr>
        <td class="main-b">
            <h1 class="text2">ชื่อเมนู</h1>
            <form action="/insert" method="post" enctype="multipart/form-data">
            <input type="text" class="form-control" placeholder="ชื่อเมนู" name="name">
            &nbsp;
            <h1 class="text2">เลือกประเภท</h1>

            <select class="form-control" name="type">
                <option>ต้ม</option>
                <option>ผัด</option>
                <option>แกง</option>
                <option>ทอด</option>
                <option>นึ่ง</option>
                <option>อบ</option>
                <option>ตุ่น</option>
            </select>
            &nbsp;
            <h1 class="text2">เวลาในการทำ</h1>
            <input type="text" name="time">
            &nbsp;
            <h1 class="text2">คำอธิบายเมนูอาหาร</h1>

            <textarea class="form-control" rows="4" name="desc"></textarea>

            <h1 class="gg">รูปตัวอย่างเมนูอาหาร</h1>
            <input type="file" name="picture">

            <h1 class="gg">วิดีโอการสอน</h1>
            <input type="file" name="video">

        </td>
    </tr>

    <tr>

        <td class="main-c" align="right" height="300" >


            <button type="submit" class="btn btn-success">สร้าง</button>
            <a href="/adminMenu"><button type="button" class="btn btn-danger">ยกเลิก</button></a>
        </form>


        </td>
    </tr>
</table>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>